<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Show</title>
</head>
<body>
    <h1>Add new Show:</h1>
    <form action="add_new_show" method="post">
        {% csrf_token %}
        Title:
        <br>
        <input type="text" name="title">
        <br>
        Network:
        <br>
        <input type="text" name="network">
        <br>
        Description:
        <br>
        <input type="text" name="description">
        <br>
        Release_date:
        <br>
        <input type="date" name="release_date">
        <br>
        <input type="submit" value="add">
    </form>

    <a href="/"> ===== Go Back ====</a>
</body>
</html>