<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <style>
    div{
        border: solid black;
    }
    </style>
</head>

<body>
    <h1>it is working from html</h1>
    {% for author in all_authors %}
    <div>
        <p>first_name : {{author.first_name}}</p>
        <p>last_name: {{author.last_name}}</p>
        <a href="author_info/{{author.id}}">view</a>
    </div>
    <br>
    {% endfor %}
    <h3>Add author</h3>
    <form action="/add_author" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first name">
        <br>
        <input type="text" name="last_name" placeholder="last name">
        <br>
        <textarea name="notes" cols="30" rows="10" placeholder="notes ?"></textarea>
        <br>
        <button type="submit" name="add"> add </button>
    </form>
</body>

</html>